In [24]:
# Python - Project 1 - Anzhela Chanysheva
# I load the dataset into a pandas DataFrame using pd.read_csv()
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
# I use db.head() to display the first rows of the dataset and understand what columns exist, what type of information
# the dataset contains, and whether the data loaded correctly
db=pd.read_csv("https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv")
db.head()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na

In [26]:

import pandas as pd
db=pd.read_csv("https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv")
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212331 entries, 0 to 212330
Data columns (total 15 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   School DBN                   212331 non-null  object
 1   School Name                  212331 non-null  object
 2   School Level                 212331 non-null  object
 3   Regents Exam                 212321 non-null  object
 4   Year                         212331 non-null  int64
 5   Total Tested                 212331 non-null  int64
 6   Mean Score                   212331 non-null  object
 7   Number Scoring Below 65      212331 non-null  object
 8   Percent Scoring Below 65     212331 non-null  object
 9   Number Scoring 65 or Above   212331 non-null  object
 10  Percent Scoring 65 or Above  212331 non-null  object
 11  Number Scoring 80 or Above   212331 non-null  object
 12  Percent Scoring 80 or Above  212331 non-null  object
 13  Number Scoring CR            212331 non-null  object
 14  Percent Scoring CR           212331 non-null  object
dtypes: int64(2), object(13)
memory usage: 24.3+ MB

In [17]:
unique_schools = db["School Name"].unique()
len(unique_schools),
unique_schools[:80]

array(['P.S. 034 Franklin D. Roosevelt', 'P.S. 140 Nathan Straus',
       'P.S. 184m Shuang Wen', 'P.S. 188 The Island School',
       'Orchard Collegiate Academy',
       'Technology, Arts, and Sciences Studio',
       'University Neighborhood Middle School',
       'Collaborative Academy of Science, Technology, & La',
       'School for Global Leaders', 'University Neighborhood High School',
       'East Side Community School', 'Forsyth Satellite Academy',
       'Marta Valle High School',
       'Lower East Side Preparatory High School',
       'New Explorations into Science, Technology and Math',
       'Cascades High School', 'Bard High School Early College',
       'Tompkins Square Middle School',
       '47 The American Sign Language and English Secondar',
       'J.H.S. 104 Simon Baruch', 'P.S. 111 Adolph S. Ochs',
       'East Side Middle School', 'P.S. 126 Jacob August Riis',
       'M.S. 131', 'The Urban Assembly School for Emergency Management',
       'Stephen T. Mather Building Arts & Craftsmanship Hi',
       'J.H.S. 167 Robert F. Wagner', 'Yorkville East Middle School',
       'P.S./I.S. 217 Roosevelt Island',
       'M.S. 255 Salk School of Science',
       'M.S. 260 Clinton School Writers & Artists', 'Pace High School',
       'Battery Park City School',
       'Manhattan Early College School for Advertising',
       'Urban Assembly Maker Academy', 'Food and Finance High School',
       'I.S. 289', 'Essex Street Academy',
       'High School of Hospitality Management',
       'Urban Assembly School of Design and Construction,',
       'Gramercy Arts High School', 'Facing History School, The',
       'Urban Assembly Academy of Government and Law, The',
       'Lower Manhattan Arts Academy',
       'New York City Lab Middle School for Collaborative',
       'James Baldwin School, The: A School for Expedition',
       'Urban Assembly School of Business for Young Women,',
       'The 47 American Sign Language & English Lower Scho',
       'NYC iSchool', 'MANHATTAN BUSINESS ACADEMY',
       'Business Of Sports School', 'Emma Lazarus High School',
       'The High School For Language And Diplomacy',
       'High School for Environmental Studies',
       'Institute for Collaborative Education',
       'Professional Performing Arts High School',
       'Baruch College Campus High School',
       'N.Y.C. Lab School for Collaborative Studies',
       'School of the Future High School', 'N.Y.C. Museum School',
       'Kennedy Yabc', 'Eleanor Roosevelt High School',
       'Millennium High School', 'Murray Hill Academy',
       'Landmark High School',
       'High School for Health Professions and Human Servi',
       'Quest to Learn', 'Leadership and Public Service High School',
       'MANHATTAN ACADEMY FOR ARTS & LANGUAGE',
       'Legacy School for Integrated Studies',
       'Hudson High School of Learning Technologies',
       'International High School at Union Square',
       'Manhattan Village Academy',
       'Ballet Tech, NYC Public School for Dance', 'Vanguard High School',
       'Manhattan International High School',
       'Washington Irving High School', 'Washington Irving Yabc',
       'Stuyvesant High School', 'High School of Economics and Finance'],
      dtype=object)